<script setup lang="ts">
import { ref } from 'vue';


const count = ref(0);

function decrement() {
  count.value--;
}

function increment() {
  count.value++;
}

</script>

<template>


    <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/vecteurs-libre/illustration-dessin-anime-fruits-raisin-style-bande-dessinee-plat_138676-2877.jpg"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Nom du fruit</h5>
            <p class="card-text">prix €</p>
            {{count}}
            <div class="btns">
                <button id="btn-" @click="decrement()">-</button>
                <button id="btnplus" @click="increment()">+</button>
            </div>
            <a href="#" class="btn btn-primary">ajouter</a>
        </div>
    </div>
</template>

<style scoped>
img {
    height: 20vh;
}

.card {
    border: 1px solid rgba(150, 148, 148, 0.958);
    border-radius: 2%;
    margin-top: 10px;
    padding-bottom: 18px;
    padding-left: 10px;
}

#btn- {
    background-color: red;
    border: 0;
    padding: 10px;
    border-radius: 20%;
    color: white;
}

#btnplus {
    background-color: green;
    border: 0;
    padding: 10px;
    border-radius: 20%;
    color: white;
}

.btns {
    width: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px
}

a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 100px 10px 100px;

}
</style>