<script setup lang="ts">
import { RouterLink } from 'vue-router';


</script>



<template>
    <nav>
        <img src="https://img.freepik.com/vecteurs-libre/illustration-dessin-anime-fruits-raisin-style-bande-dessinee-plat_138676-2877.jpg"
            alt="">
        <div class="liens">
            <a href="">Home</a>
            <a href="">Feature</a>
            <a href="">Pricing</a>
            <a href="">Dropdown link</a>
           
                
        </div>
    </nav>
</template>

<style scoped>
nav {
    display: flex;
    align-items: center;
    background-color: rgb(59, 58, 58);
    padding: 10px;
}

img {
    height: 55px;
}

a {
    text-decoration: none;
    color: rgb(236, 229, 229);
    padding: 10px;
}</style>